body{font-size:9pt;color:#3d3f72;background:#ffffff;}
a{font-size:9pt;color:#990000;text-decoration:none;FONT-FAMILY:Verdana, Arial, Helvetica, sans-serif}
a:hover{font-size:9pt;color:ff6633;text-decoration:underline;FONT-FAMILY:Verdana, Arial, Helvetica, sans-serif}
a:active{font-size:9pt;color:ff6633;text-decoration:none;FONT-FAMILY:Verdana, Arial, Helvetica, sans-serif}
a:visited{font-size:9pt;text-decoration:none;FONT-FAMILY:Verdana, Arial, Helvetica, sans-serif}
.main{font-size:11pt;line-height:14pt;}
.title{font-size:12pt;line-height:16pt;FONT-FAMILY:Palatino,Book Antiqua;color:#008000;}
.copyright{font-size:9pt;FONT-FAMILY:Verdana, Arial, Helvetica, sans-serif;}



