a{color:#3d3f72;text-decoration:none}
a:hover{color:#ff6600;}
a:active{color:#ff6600;text-decoration:none}
a:visited{#999999;text-decoration:none}
td{font-size:10pt;line-height:13pt;color:#000000;FONT-FAMILY:Arial,Verdana,Helvetica}
body{font-size:10pt;line-height:13pt;FONT-FAMILY:Arial,Verdana,Helvetica}
.p16{font-family:Arial,Verdana,Helvetica;font-size:16pt;color:#004080}